/*--------------------------------------header---------------------------------------*/
#header {
    background-color: #0072C6;
    height: 50px;
    width: 100%;
    top: 0px;
    position: fixed;
}

#logo {
    border-right: 1px solid rgba(255,255,255,.3);
    height: 50px;
    width: 50px;
    float: left;
}

    #logo:hover {
        background-color: #00709f;
    }

    #logo div {
        float: right;
        width: 25px;
        height: 25px;
        background-image: url(../../../Areas/JoinUs/img/logo.png);
        margin-top: 12px;
        margin-right: 13px;
    }

#brand {
    width: 146px;
    height: 48px;
    float: left;
    border: 1px solid black;
    border-color: transparent;
}

    #brand div {
        border: 1px solid black;
        height: 34px;
        width: 121px;
        float: right;
        margin-top: 6px;
        background-image: url(../../../Areas/JoinUs/img/finalab_test.png);
        border-color: transparent;
        margin-right: 12px;
    }

    #brand:hover {
        background-color: #00709f;
    }

#hello {
    /*width: 200px;*/
    height: 48px;
    float: right;
    border: 1px solid black;
    border-color: transparent;
}

    #hello:hover {
        background-color: #00709f;
    }

    #hello span {
        font-family: 'STXihei';
        color: white;
        float: right;
        margin-top: 14px;
        margin-right: 30px;
        margin-left: 30px;
    }
/*--------------------------------------question---------------------------------------*/
#question {
    border: 1px solid black;
    /*height:100px;*/
    border-color: transparent;
    margin: auto auto;
    margin-top: 50px;
    width: 900px;
}

/*--------------------------------------footer---------------------------------------*/
#footer {
    border: 1px solid black;
    border-color: transparent;
    border-top-color: #CDCDCD;
    margin-top: 100px;
}

    #footer div {
        width: 310px;
        margin: 15px auto;
    }

        #footer div span {
            color: #666;
            font-family: 'Microsoft YaHei UI';
            font-size: 86%;
            margin-right: 5px;
            margin-left: 5px;
        }

#div_tip {
    margin-top: 100px;
}

#tip {
    width: 900px;
    margin: 50px auto;
}

    #tip button {
        width: 100%;
        font-size: 14px;
        font-family: 'Microsoft YaHei';
        height: 40px;
    }

#next_step {
    width: 900px;
    margin: 20px auto;
}

    #next_step button {
        float: right;
        font-family: 'Microsoft YaHei';
        font-size: 14px;
    }

#question table tbody tr td textarea {
    width: 100%;
    height: 143px;
    resize: none;
    padding: 10px 10px;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
