@{
    Layout = null;
}
@{
    List<MODEL.T_TaskInformation> tasks = ViewData["taskOfBegTime"] as List<MODEL.T_TaskInformation>;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/Task/CSS/bootstrap.min.css" rel="stylesheet"/>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script> 
    <title>任务统计</title>
</head>
<body>
    <div>
        <table class="table table-striped">
            <tr>
                <th>任务名称</th>
                <th>任务类型名称</th>
                <th>任务开始时间</th>
                <th>任务截至时间</th>
            </tr>
            @foreach (MODEL.T_TaskInformation task in tasks)
            {
                <tr>
                    <td>@task.TaskName</td>
                    <td>@task.T_TaskType.TaskTypeName</td>
                    <td>@task.TaskBegTime</td>
                    <td>@task.TaskEndTime</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
